  
<!-- Populated with a facsimile of the request headers. -->
<pre id="request_pre" class="request" style="overflow-x: visible; overflow-y: visible; ">
<code id="request">GET /spots/18568/items HTTP/1.1
Host: api.stickybits.com
Accept: application/json
X-Gowalla-API-Key: fa574894bddc43aa96c556eb457b4009
</code></pre>

<!-- Used to explain the response, if necessary. Hidden otherwise. -->
<div id="response_message" style="display: none; "></div>

<!-- Populated with the response headers/body. -->
<pre id="response_pre" style="overflow-x: hidden; overflow-y: hidden; "><code id="response_headers">HTTP/1.1 200 OK
Date: Fri, 26 Mar 2010 01:33:39 GMT
Vary: Accept-Encoding, Accept-Encoding
Content-Type: application/json; charset=utf-8
</code>
<code class="json" id="response_body">{
  <span class="property">"items"</span>: [
    {
      <span class="property">"determiner"</span>: <span class="string">"a"</span>,
      <span class="property">"image_url"</span>: <span class="string">"http://static.gowalla.com/kinds/1699-aaefc44273b63498398e0514a5aced18.png"</span>,
      <span class="property">"pick_up_url"</span>: <span class="string">"<a href="/items/1806895/pick_up">/items/1806895/pick_up</a>"</span>,
      <span class="property">"name"</span>: <span class="string">"SXSW Badge"</span>,
      <span class="property">"issue_number"</span>: <span class="number">2229</span>,
      <span class="property">"url"</span>: <span class="string">"<a href="/items/1806895">/items/1806895</a>"</span>
    },
    {
      <span class="property">"determiner"</span>: <span class="string">"a"</span>,
      <span class="property">"image_url"</span>: <span class="string">"http://static.gowalla.com/kinds/1455-1e030e4274081ea8a92cc1718336de30.png"</span>,
      <span class="property">"pick_up_url"</span>: <span class="string">"<a href="/items/1820914/pick_up">/items/1820914/pick_up</a>"</span>,
      <span class="property">"name"</span>: <span class="string">"Bratwurst"</span>,
      <span class="property">"issue_number"</span>: <span class="number">17618</span>,
      <span class="property">"url"</span>: <span class="string">"<a href="/items/1820914">/items/1820914</a>"</span>
    },
    {
      <span class="property">"determiner"</span>: <span class="string">"some"</span>,
      <span class="property">"image_url"</span>: <span class="string">"http://static.gowalla.com/kinds/1486-1307477a2e75e0186cf66bcea17acd34.png"</span>,
      <span class="property">"pick_up_url"</span>: <span class="string">"<a href="/items/590731/pick_up">/items/590731/pick_up</a>"</span>,
      <span class="property">"name"</span>: <span class="string">"Tacos"</span>,
      <span class="property">"issue_number"</span>: <span class="number">8482</span>,
      <span class="property">"url"</span>: <span class="string">"<a href="/items/590731">/items/590731</a>"</span>
    },
    {
      <span class="property">"determiner"</span>: <span class="string">"some"</span>,
      <span class="property">"image_url"</span>: <span class="string">"http://static.gowalla.com/kinds/1517-b250c16539c455a5c51c21e3e45666b4.png"</span>,
      <span class="property">"pick_up_url"</span>: <span class="string">"<a href="/items/521222/pick_up">/items/521222/pick_up</a>"</span>,
      <span class="property">"name"</span>: <span class="string">"Oranges"</span>,
      <span class="property">"issue_number"</span>: <span class="number">7822</span>,
      <span class="property">"url"</span>: <span class="string">"<a href="/items/521222">/items/521222</a>"</span>
    },
    {
      <span class="property">"determiner"</span>: <span class="string">"some"</span>,
      <span class="property">"image_url"</span>: <span class="string">"http://static.gowalla.com/kinds/1470-e79b74e4a39d28d1ec892a8106ea369d.png"</span>,
      <span class="property">"pick_up_url"</span>: <span class="string">"<a href="/items/1173656/pick_up">/items/1173656/pick_up</a>"</span>,
      <span class="property">"name"</span>: <span class="string">"Clickity-Bricks"</span>,
      <span class="property">"issue_number"</span>: <span class="number">13532</span>,
      <span class="property">"url"</span>: <span class="string">"<a href="/items/1173656">/items/1173656</a>"</span>
    },
    {
      <span class="property">"determiner"</span>: <span class="string">"a"</span>,
      <span class="property">"image_url"</span>: <span class="string">"http://static.gowalla.com/kinds/1581-b547ed1f1b26ddd46b6c9d84fe1a5c95.png"</span>,
      <span class="property">"pick_up_url"</span>: <span class="string">"<a href="/items/1114147/pick_up">/items/1114147/pick_up</a>"</span>,
      <span class="property">"name"</span>: <span class="string">"Luggage Tag"</span>,
      <span class="property">"issue_number"</span>: <span class="number">26604</span>,
      <span class="property">"url"</span>: <span class="string">"<a href="/items/1114147">/items/1114147</a>"</span>
    },
    {
      <span class="property">"determiner"</span>: <span class="string">"a"</span>,
      <span class="property">"image_url"</span>: <span class="string">"http://static.gowalla.com/kinds/1500-004fc5d192336e2667143188c391ad9f.png"</span>,
      <span class="property">"pick_up_url"</span>: <span class="string">"<a href="/items/392997/pick_up">/items/392997/pick_up</a>"</span>,
      <span class="property">"name"</span>: <span class="string">"Blender"</span>,
      <span class="property">"issue_number"</span>: <span class="number">8269</span>,
      <span class="property">"url"</span>: <span class="string">"<a href="/items/392997">/items/392997</a>"</span>
    },
    {
      <span class="property">"determiner"</span>: <span class="string">"a"</span>,
      <span class="property">"image_url"</span>: <span class="string">"http://static.gowalla.com/kinds/1659-7c8ba0f18a61f799b84b9031d1780400.png"</span>,
      <span class="property">"pick_up_url"</span>: <span class="string">"<a href="/items/1300501/pick_up">/items/1300501/pick_up</a>"</span>,
      <span class="property">"name"</span>: <span class="string">"Box of Cookies"</span>,
      <span class="property">"issue_number"</span>: <span class="number">17137</span>,
      <span class="property">"url"</span>: <span class="string">"<a href="/items/1300501">/items/1300501</a>"</span>
    },
    {
      <span class="property">"determiner"</span>: <span class="string">"some"</span>,
      <span class="property">"image_url"</span>: <span class="string">"http://static.gowalla.com/kinds/1486-1307477a2e75e0186cf66bcea17acd34.png"</span>,
      <span class="property">"pick_up_url"</span>: <span class="string">"<a href="/items/898829/pick_up">/items/898829/pick_up</a>"</span>,
      <span class="property">"name"</span>: <span class="string">"Tacos"</span>,
      <span class="property">"issue_number"</span>: <span class="number">14211</span>,
      <span class="property">"url"</span>: <span class="string">"<a href="/items/898829">/items/898829</a>"</span>
    },
    {
      <span class="property">"determiner"</span>: <span class="string">"some"</span>,
      <span class="property">"image_url"</span>: <span class="string">"http://static.gowalla.com/kinds/1486-1307477a2e75e0186cf66bcea17acd34.png"</span>,
      <span class="property">"pick_up_url"</span>: <span class="string">"<a href="/items/676571/pick_up">/items/676571/pick_up</a>"</span>,
      <span class="property">"name"</span>: <span class="string">"Tacos"</span>,
      <span class="property">"issue_number"</span>: <span class="number">9922</span>,
      <span class="property">"url"</span>: <span class="string">"<a href="/items/676571">/items/676571</a>"</span>
    },
    {
      <span class="property">"determiner"</span>: <span class="string">"a"</span>,
      <span class="property">"image_url"</span>: <span class="string">"http://static.gowalla.com/kinds/1478-3a2e69784a68267ac0f50c15271ac0a2.png"</span>,
      <span class="property">"pick_up_url"</span>: <span class="string">"<a href="/items/539125/pick_up">/items/539125/pick_up</a>"</span>,
      <span class="property">"name"</span>: <span class="string">"Slice of Pizza"</span>,
      <span class="property">"issue_number"</span>: <span class="number">10822</span>,
      <span class="property">"url"</span>: <span class="string">"<a href="/items/539125">/items/539125</a>"</span>
    },
    {
      <span class="property">"determiner"</span>: <span class="string">"a"</span>,
      <span class="property">"image_url"</span>: <span class="string">"http://static.gowalla.com/kinds/1455-1e030e4274081ea8a92cc1718336de30.png"</span>,
      <span class="property">"pick_up_url"</span>: <span class="string">"<a href="/items/137953/pick_up">/items/137953/pick_up</a>"</span>,
      <span class="property">"name"</span>: <span class="string">"Bratwurst"</span>,
      <span class="property">"issue_number"</span>: <span class="number">735</span>,
      <span class="property">"url"</span>: <span class="string">"<a href="/items/137953">/items/137953</a>"</span>
    }
  ]
}</code></pre>
