<div id="main" class="clearfix">
				  

<!-- Address Bar -->
<h1>API Explorer</h1>

<div class="explorer-nav" >
<div id="apis">
{% for api in apis %}
<a id="{{ api.name }}" class="nav-api" style="float:left">
<span>{{ api.name }}</span>
</a>
{% endfor %}
</div>
</div>



<div class="address-bar-container clearfix">
	
	<div id="address_bar" class="address-bar clearfix">
	
	<div id="methods">
{% for api in apis %}
<div class="api-methods" id="{{ api.name }}" style="display:none;">
{% for method in api.methods %}
<a id="{{ method.name }}" query="{{ method.query }}"  class="nav-method" >
<span>{{ method.name }}</span>
</a>
{% endfor %}
</div>
{% endfor %}
</div>

	
		<div class="input">{{ api_base }}<span class="path" style="font-weight:bold;"></span><input type="text" id="path" value=""></div> 
		<a href="#" class="submit" id="submit"><span>Make Request</span></a>  	     
	</div>     

	<form id="description">
	{% for api in apis %}
	{% for method in api.methods %}
		<div id="{{ method.name }}" class="description" style="clear:both; display:none;"><p><strong>{{ method.name }}</strong>: {{ method.description }}</p></div>
		{% endfor %}
		{% endfor %}
  	
		<div id="parameters">            
			<div id="parameters_container"><table><tbody><tr>
  <td class="name">id</td>
  <td class="value"><input type="text" value="" name="id"></td>
  <td class="description"></td>
</tr></tbody><tfoot><tr><td></td><td colspan="2"><a href="#" class="submit" id="update_url"><span>Update URL</span></a></td></tr></tfoot></table></div>
		</div>
	</form>
	
</div>

  
  <div id="api_response">
  {% for api in apis %}
	{% for method in api.methods %}
	<div class="response_container" style="display:none;" class="show" id="{{ method.name }}">
	
	
	<!-- Populated with a facsimile of the request headers. -->
<pre id="request_pre" class="request" style="overflow-x: visible; overflow-y: visible; ">
<code id="request">GET <span id="api_path">{{ method.path }}{{ method.query }}</span> HTTP/1.1
Host: stickybits.com
Accept: application/json
Auth-Key: 558232
</code></pre>

<!-- Populated with the response headers/body. -->
<pre id="response_pre" style="overflow-x: hidden; overflow-y: hidden; ">
<code id="response_headers">
HTTP/1.1 200 OK
Date: Fri, 26 Mar 2010 01:33:39 GMT
Vary: Accept-Encoding, Accept-Encoding
Content-Type: application/json; charset=utf-8
</code>
<code class="json" id="response_body">{
  <span class="property">"{{ method.collection|default:"results" }}"</span>: [
    {
      <span class="property">"property"</span>: <span class="string">"value"</span>,
      <span class="property">"resource_url"</span>: <span class="string">"<a href="/resource/path">/resource/path</a>"</span>,
      <span class="property">"looking like a fool"</span>: <span class="string">"with your pants on the ground"</span>
    },
    {
      <span class="property">"property"</span>: <span class="string">"value"</span>,
      <span class="property">"resource_url"</span>: <span class="string">"<a href="/resource/path">/resource/path</a>"</span>,
      <span class="property">"gold teeth in your mouth"</span>: <span class="string">"with your pants on the ground"</span>
    }

  ]
}</code></pre>
	
	
	
	
	
	</div>
  {% endfor %}
  {% endfor %}
  </div>
  

				</div>
